@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@300&family=Titillium+Web:wght@200&family=Yellowtail&display=swap");
/* fonts */

/* font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Yellowtail', cursive; */
* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}
.helpingcloth,
.volunteer,
.contact {
  /* border: 2px solid red; */
  margin: 4rem 0;
}

.logo_div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
.logo_div img {
  height: 90px;
  width: 90px;
}
.main_intro {
  /* border: 2px solid red; */

  position: relative;
}
.main_intro img {
  max-width: 100%;
  /* min-height: 100%; */
  /* display:block; */
  height: 500px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
      94.77deg,
      #ffffff 0.92%,
      #ffffff 8.94%,
      rgba(255, 255, 255, 0) 97.09%
    ),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.92) 0%,
      rgba(255, 255, 255, 0) 100%
    );

  position: absolute;
}

.introduction {
  position: absolute;
  top: 10rem;
  left: 1rem;

  color: #bc986a;
  z-index: 1;
}

.introduction .ashika {
  font-size: 3.5rem;
  text-transform: uppercase;
}
.introduction .foundation {
  font-size: 2rem;
}
.introduction .slogan {
  font-size: 1rem;
}

.foundation_intro p {
  font-family: "Yellowtail", cursive;
}

.helped {
  /* border: 2px solid red; */

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #659dbd;

  border-radius: 0 0rem 1rem 1rem;
}
.help {
  font-size: 2rem;
  font-family: "Titillium Web", sans-serif;
  font-weight: bold;
  color: white;
}

.helpingcloth {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.helpingcloth img {
  max-width: 100%;
  min-width: 100%;
  height: 300px;
  width: 300px;

  border-radius: 1rem;
}
.helpingcloth p {
  text-align: center;

  font-family: Titillium Web;
  font-weight: bold;
  font-size: 1.5rem;
  color: #8d8741;
}

.volunteer .volname {
  /* margin: 5rem 0 2rem 0; */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 3.5rem;

  color: #bc986a;

  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.volunteer_card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.volcard {
  margin: 2rem 0;
  /* border: 2px solid red; */
  min-width: 18rem;

  position: relative;
}
.volcard .fbimg {
  position: absolute;

  top: 3rem;
  right: 1rem;
}
.volcard .instaimg {
  position: absolute;

  top: 9rem;
  right: 2rem;
}
.volcard .twitterimg {
  position: absolute;

  top: 13rem;
  right: 6rem;
}
.volunteer p {
  text-align: center;
}
.volunteer img {
  border-radius: 70%;
}
.volcard p {
  font-family: Titillium Web;
  color: #8d8741;
  /* font-weight: bold; */
  font-size: 1.5rem;

  margin-top: 5rem;
}

.contactus p {
  font-family: Roboto;
  color: #bc986a;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.contactinput img {
  height: 50px;
  width: 50px;
  cursor: pointer;
  /* margin-left: 30vw; */
}

.contactinput button {
  border: none;
  background: none;
}

.contactinput {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: center;
}

input {
  margin: 1.5rem 0rem;

  text-decoration: none;
  font-size: 1rem;
  padding: 1rem;

  border-radius: 1rem;
  height: 3rem;

  border: 2px solid #bc986a;

  color: #caae48;
}

input:focus {
  outline: none;
}

.socials {
  /* margin-top: 2rem; */
  /* min-height: 15rem; */

  display: flex;
  justify-content: center;
  align-items: center;

  /* border: 2px solid red; */
}
.socialcontainer {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: relative;
  /* border: 2px solid red; */
  min-height: 14rem;
}
.socials p {
  color: #daad86;
  font-family: Roboto;
  font-weight: bold;
  font-size: 3rem;
}

.fbdiv {
  position: absolute;

  top: 1rem;
  right: 8rem;
}

.fbhover1 path {
  fill: rgb(0, 110, 255);
  /* color: blue; */
}
.instahover1 path {
  fill: rgb(187, 47, 152);
  /* color: blue; */
}
.twitterhover1 path {
  fill: rgb(86, 154, 243);
  /* color: blue; */
}
.instadiv {
  margin-right: 2rem;
}
.twitterdiv {
  margin-left: 2rem;
}

.donatebutton {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 10rem;
}
button:focus {
  outline: none;
}
.donatebutton button {
  color: #bc986a;
  font-size: 2rem;

  border: 2px solid #bc986a;
  background: none;

  padding: 1rem;
  border-radius: 1rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.footercontainer {
  /* min-height: 20rem; */
  background-color: rgb(61, 45, 21);
}
.footercontainer,
.mainfooter,
.footercontact {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footercontainer img {
  height: 100px;
  width: 100px;
}
.footercontainer {
  padding-top: 1.5rem;
}
.footer p {
  color: whitesmoke;
  font-family: Roboto;
  font-weight: bold;
}
.footercontact p {
  margin-top: 0.5rem;
}
.contactp p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  color: #bc986a;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}
.copyright {
  /* border-top: 1px solid whitesmoke; */
  padding: 1rem 0;
}
.copyright p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 0.8rem;
  color: whitesmoke;
}


@media (min-width: 700px) {
  * {
    /* padding: 2px 8px; */
  }
  .firstdiv {
    min-height: 100vh;

    /* border: 2px solid red; */
  }
  .helpingcloth,
  .volunteer,
  .contact {
    margin: 6rem 0;
  }
  .logo_div img {
    height: 100px;
    width: 100px;
  }
  .main_intro {
    min-height: 70vh;
  }
  .main_intro img {
    height: 100vh;
    width: 100%;
  }
  .introduction {
    top: 12rem;
  }

  .introduction .ashika {
    font-size: 4.5rem;
  }
  .introduction .foundation {
    font-size: 4rem;
  }
  .introduction .slogan {
    font-size: 2rem;
  }

  .helped {
    /* background-color: #098825d0; */
    max-width: 90vw;
    margin: auto;

    border-radius: 0 0 2rem 2rem;
  }
  .help {
    font-size: 3.5rem;
  }
  .helpingcloth {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .helpingcloth p {
    font-size: 2.5rem;
  }

  .volunteer_card {
    flex-direction: row;
  }

  .volcard {
    min-width: 19rem;
  }
  .volunteer .volname {
    font-size: 5rem;
  }
  .contactus p {
    text-align: left;
    font-size: 3.5rem;
    padding-left: 2rem;
  }
  .contactinput {
    display: flex;
  }
  input {
    font-size: 1.5rem;
    padding: 1.5rem;
    height: 4rem;
  }
  .contactinput {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  .contactinput img {
    height: 70px;
    width: 80px;
    cursor: pointer;
    /* margin-left: 30vw; */
  }

  .socialcontainer {
    min-height: 16rem;
  }
  .socials p {
    color: #daad86;
    font-family: Roboto;
    font-weight: bold;
    font-size: 4rem;
  }

  .socialcontainer .fb {
    position: absolute;

    top: 1rem;
    right: 9rem;
  }

  .fbdiv {
    position: absolute;

    top: 1rem;
    right: 10rem;
  }

  .fbhover1 path{
    fill:#DAAD86;
  }
  .instahover1 path{
    fill:#DAAD86;
  }
  .twitterhover1 path{
    fill:#DAAD86;
  }
  .fbhover1:hover path {
    fill: rgb(0, 110, 255);
    /* color: blue; */
  }
  .instahover1:hover path {
    fill: rgb(187, 47, 152);
    /* color: blue; */
  }
  .twitterhover1:hover path {
    fill: rgb(86, 154, 243);
    /* color: blue; */
  }

  .instadiv {
    margin-right: 3rem;
  }
  .twitterdiv {
    margin-left: 3rem;
  }

  .donatebutton button {
    font-size: 3rem;
  }
  .donatebutton button:hover {
    font-size: 3.5rem;
  }

  .footercontainer img {
    height: 150px;
    width: 150px;
  }
  .footercontainer {
    display: block;

    text-align: center;
  }
  .mainfooter {
    flex-direction: row;
    justify-content: space-around;
  }

  .contactp p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 3rem;
    color: #bc986a;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 900px) {
  .contactinput {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
}
